.menu {
  background-color: #444;
  color: #FFF;
  padding-right: 20px;

  ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
  }

  a {
    color: #FFF;
    text-decoration: none;
    display: block;
  }

  :global(.icon) {
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.title {
  padding-left: 20px;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 0;
  }
}

.categoriesTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  padding-right: 5px;
  font-weight: bold;
}
